@tailwind base;

@layer base {

    ::-webkit-scrollbar {
        @apply w-1.5;
    }

    ::-webkit-scrollbar-track {
        @apply bg-tertiary;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-fourth rounded-lg;
    }

    *, *:before, *:after {
        @apply transition-colors duration-300;
        scrollbar-color: rgb(var(--bg-fourth)) rgb(var(--bg-tertiary));
    }

    html, body, #root {
        @apply h-full;
    }

    html {
        @apply bg-primary text-primary font-body;
    }

    #root {
        @apply flex flex-row;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply text-primary font-head;
    }

    h1 {
        @apply text-5xl;
    }

    h2 {
        @apply text-4xl;
    }

    h3 {
        @apply text-3xl;
    }

    h4 {
        @apply text-2xl;
    }

    h5 {
        @apply text-xl;
    }

    h6 {
        @apply text-base;
    }

    p {
        @apply text-secondary;
    }

    button, input, textarea, select {
        @apply font-body;
    }

    hr {
        @apply w-full my-4 border-0 border-b-[0.0625rem] border-secondary;
    }

    input, textarea {
        @apply appearance-none bg-tertiary;
    }

    input:not(:is([type="radio"], [type="checkbox"])), textarea {
        @apply w-full text-base outline-none rounded-lg;
    }

    input[type="radio"], input[type="checkbox"] {
        @apply min-w-[1.25rem] min-h-[1.25rem] max-w-[1.25rem] max-h-5 w-5 h-5 relative cursor-pointer
    }

    input[type="radio"] {
        @apply rounded-full
        before:content-[""] before:w-[0.6rem] before:h-[0.6rem] before:bg-white before:rounded-full
        before:opacity-0 before:absolute before:top-1/2 before:left-1/2 before:-translate-x-1/2
        before:-translate-y-1/2
        checked:bg-ac-primary-500 checked:before:opacity-100;
    }

    input[type="checkbox"] {
        @apply rounded-md;
    }

    input[type="checkbox"]:before, input[type="checkbox"]:after {
        @apply content-[""] w-0.5 block bg-white rounded-md absolute opacity-0 transition duration-300;
    }

    input[type="checkbox"]:before {
        @apply h-3 top-1/2 left-[60%] -translate-x-1/2 -translate-y-1/2 rotate-45;
    }

    input[type="checkbox"]:after {
        @apply h-[0.3125rem] top-[63%] left-[27%] -translate-x-1/2 -translate-y-1/2 rotate-[135deg]
    }

    input[type="checkbox"]:checked {
        @apply bg-ac-primary-500 before:opacity-100 after:opacity-100;
    }

    input[type="range"] {
        @apply w-full h-2.5 bg-tertiary bg-gradient-to-r from-ac-primary-500 to-ac-primary-500 bg-no-repeat rounded-xl cursor-pointer;
    }

    input[type="range"]::-webkit-slider-thumb {
        @apply w-5 h-5 bg-ac-primary-500 rounded-full appearance-none cursor-ew-resize;
    }

    .animate-searching {
        animation: searching 1.5s linear reverse infinite forwards;
        -o-animation: searching 1.5s linear reverse infinite forwards;
        -moz-animation: searching 1.5s linear reverse infinite forwards;
        -webkit-animation: searching 1.5s linear reverse infinite forwards;
    }

    @keyframes searching {
        from { transform: translateY(-0.5rem) rotate(0deg) translateX(0.125rem) rotate(0deg); }
        to   { transform: translateY(-0.5rem) rotate(360deg) translateX(0.125rem) rotate(-360deg); }
    }

}